<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>22 лучших формы входа и регистрации | Vladmaxi.net</title>
<!--    <link rel="stylesheet" href="/developer/lesson75/demo/16/css/style.css" media="screen" type="text/css" />
-->
<link href="style.css" rel="stylesheet">
  <body>



<div id="login">
    <form method="get">
        <fieldset class="clearfix">
            <p><input type="text" value="Логин" onBlur="if(this.value == '') this.value = 'Логин'" onFocus="if(this.value == 'Логин') this.value = ''" required></p>
            <p><input type="password"  value="Пароль" onBlur="if(this.value == '') this.value = 'Пароль'" onFocus="if(this.value == 'Пароль') this.value = ''" required></p>
            <p><input type="submit" value="ВОЙТИ"></p>
        </fieldset>
    </form>
    <p>Нет аккаунта?  <a href="#">Регистрация</a></p>
</div>
</html>